{% extends 'layout/layout.twig' %}

{% block content %}

	<h1>Register</h1>

	{% if aErrorMessages is not empty %}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{% for sError in aErrorMessages %}
				{{ sError }}<br />
			{% endfor %}
		</div>
	{% endif %}

	<form class="form-horizontal" role="form" method="post">
	</form>
{% endblock content %}