<div>
	<h3>Server Stats</h3>
	<hr/>
	<ul class="list-unstyled">
		<li>lalalala</li>
		<li>lululu</li>
		<li><span style="font-weight: bold">Test:</span> Nummer 1</li>
	</ul>
</div>
<div class="margin-top-40">
	<h3>Servertime</h3>
	<hr/>
	<ul class="list-unstyled">
		<li>lalalala</li>
		<li>lululu</li>
		<li><span style="font-weight: bold">Test:</span> Nummer 1</li>
	</ul>
</div>